.border {
  border: 0.5px solid black;
}
.head {
  position: absolute;
  top: 0px;
  left: 22px;
}
#imagehead {
  position: absolute;
  left: 300px;
}

.headersection {
  position: absolute;
  top: 0px;
  left: -78px;
}

.bodysection001 {
  color: black;
  font-size: medium;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  left: 225px;
  top: 120px;
}
.footsection {
  color: black;
  font-size: small;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  left: 490px;
  top: 470px;
  background-color: lightyellow;
  width: 300px;
}

.bodysection002 {
  color: black;
  font-size: medium;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  left: 225px;
}
.footsection002 {
  color: black;
  font-size: small;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  left: 40px;
  top: 470px;
  background-color: lightyellow;
  width: 300px;
}
